<!-- home.razor -->


@page "/"

<PageTitle>Gestionnaire de Pokémon</PageTitle>

<div class="container">
    <h1>Bienvenue dans votre Gestionnaire de Pokémon</h1>
    <p>Attrapez et gérez vos Pokémon préférés ici !</p>

    <div class="pokeball-container">
        <img src="Images/Pokeball.png" alt="Pokeball" class="pokeball" />
    </div>
</div>