body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom right, #ffffff, #767575); /* Dégradé de blanc à gris */
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1); /* Ombre légère */
    width: 300px; /* Ajustez la largeur selon vos besoins */
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

span {
    display: block;
    color: red;
    margin-top: -10px;
    margin-bottom: 10px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}