@page "/login"
@inject ILogger<Login> Logger
@inject NavigationManager NavigationManager
@inject LoginService loginService
@* @inject GatewayService.Controllers.UserController *@
@inject AuthenticationStateProvider authStateProvider
@using System.Text.Json
@using System.Net.Http
@using System.Text
@using Newtonsoft.Json
@using System.Net
@* <EditForm Model="@loginModel" OnValidSubmit="HandleLogin">
    <InputText @bind-Value="loginModel.Username" />
    <InputText @bind-Value="loginModel.Password" type="password" />
    <button type="submit">Login</button>
</EditForm> *@
<body>
    <EditForm Model="@loginModel" OnValidSubmit="HandleLogin">
        <div class="container">
            <h1>Connexion</h1>
            
            <div class="form-group">
                <InputText @bind-Value="loginModel.Username" class="form-control" id="username" placeholder="Nom d'utilisateur"/>
            </div>

            <div class="form-group">
                <InputText @bind-Value="loginModel.Password" type="password" class="form-control" id="password" placeholder="Mot de passe"/>
            </div>

            <button type="submit" class="btn btn-primary">Se connecter</button>
        </div>
    </EditForm>
</body>
@code {
    private LoginModel loginModel = new LoginModel();


    private async void HandleLogin()
    {
        var gatewayUrl = "http://localhost:5001";
        var endpoint = "/api/Users/login";
        var requestData = new
        {
            name = loginModel.Username,
            pass = loginModel.Password
        };
        var jsonContent = new StringContent(System.Text.Json.JsonSerializer.Serialize(requestData), Encoding.UTF8, "application/json");

        try
        {
            HttpResponseMessage result = await loginService.TryLogin($"{gatewayUrl}{endpoint}", jsonContent);

            if (result.IsSuccessStatusCode)
            {
                string responseBody = await result.Content.ReadAsStringAsync();
                Console.WriteLine(responseBody);
                UserDTO user = JsonConvert.DeserializeObject<UserDTO>(responseBody)!;
                var userClaim = await ((CustomAuthenticationStateProvider)authStateProvider).MarkUserAsAuthenticated(user);
                NavigationManager.NavigateTo("/");
            }
            else
            {
                if (result.StatusCode == HttpStatusCode.Unauthorized)
                {
                    Console.WriteLine("Échec de la connexion : Informations d'identification incorrectes.");
                }
                else
                {
                    Console.WriteLine($"Échec de la connexion. Code d'état : {result.StatusCode}");
                }
            }
        }
        catch (HttpRequestException ex)
        {
            Console.WriteLine($"Erreur de requête HTTP : {ex.Message}");
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Une erreur inattendue s'est produite : {ex.Message}");
        }
    }

    private class LoginModel
    {
        public string Username { get; set; } = "";
        public string Password { get; set; } = "";
    }
}