@page "/login"
@inject ILogger<Login> Logger
@inject NavigationManager NavigationManager
@inject LoginService loginService
@inject AuthenticationStateProvider authStateProvider

<EditForm Model="@loginModel" OnValidSubmit="HandleLogin">
    <InputText @bind-Value="loginModel.Username" />
    <InputText @bind-Value="loginModel.Password" type="password" />
    <button type="submit">Login</button>
</EditForm>

@code {
    private LoginModel loginModel = new LoginModel();


    private async void HandleLogin()
    {
        var gatewayUrl = "http://localhost:5052/api/User";
        var endpoint = "/login";
        var requestUrl = $"{gatewayUrl}{endpoint}name={loginModel.Username}pass={loginModel.Password}";
        try
        {
            // Effectuer la requête GET
            HttpResponseMessage result = await loginService.TryLogin(requestUrl);

            if(result.IsSuccessStatusCode)
            {
                Console.WriteLine("YES YES YES YES YES");
            }
            else{
                Console.WriteLine("NON NON NON NON NON");
            }
        }
        catch (Exception ex)
        {
            // Gérer les erreurs (par exemple, afficher un message d'erreur)
            // ...
        }
    }

    private class LoginModel
    {
        public string Username { get; set; } = "";
        public string Password { get; set; } = "";
    }
}